.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 75%;
  margin: 100px 0px 10px 125px;
  border-radius: 20px;
  padding-bottom: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.container-profile{
  margin-top: -50px;
}

.container-profile img{
  margin-top: -50px;
  border-radius: 20px;
}

.box img{
  display: inline-block;
  width: 20%;
  height: 20%;
  margin: 0%;
}

.box1 {
  display: inline-block;
  width: 300px;
  height: 80px;
}

.container-profile .box1{
  margin-left: 170px;
  margin-top: -100px;
  margin-bottom: 10px;
}

.date{
  font-size: 10px;
}

.card-comment {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 97%;
  height: 30%;
  margin: 10px 0px 0px 10px;
  border-radius: 3px;
  padding-left: 10px;
  padding-top: 10px;
}

.card-comment img{
  border-radius: 100px;
}

.card-list{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  height: 50%;
  margin: 10px 0px 0px 13%;
  border-radius: 3px;
  float: left;
  /*padding-left: 10px;
  padding-top: 10px;*/
}

.card-list img{
  border-radius: 100%;
  width: 30%;
  height: 40%;
}

.card-list p{
  margin-top: -15px;
}

.date-list{
  font-size: 10px;
  margin-top: -25px;
  color: grey;
  padding: 3px;
}

.content {
  color: grey;
  padding-left: 5px;
  text-align: center;
}
