{% extends 'base.html' %}

{% block head_title %}{{ post.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}
  <img src="{{ post.banner_photo.url }}">
  <p>{{ post.user }}</p>
  <p><small>{{ post.date_created }}, Updated {{ post.date_modified|timesince }} ago</small></p>

  {% for tag in post.tags.all %}
    {% if forloop.last %}
      <small>{{ tag }}</small>
    {% else %}
      <small>{{ tag }},</small>
    {% endif %}
  {% endfor %}
  <p>{{ post.category }}</p>
  <p>{{ post.body }}</p>

  <hr>
  {% for comment in post.comments.all %}
    {% if user.is_authenticated %}
    <div class="comment">
      <div class="date">
        {{ comment.date_created }}
      </div>
      <strong>{{ comment.user }}</strong>
      <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
  {% empty %}
    <p>No comments here yet :(</p>
  {% endfor %}
  <a class="btn btn-default" href="{% url 'blog:comment' slug=post.slug %}">Add comment</a>
{% endblock %}
