{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}"/>

  {% include 'snippets/slider.html'%}

  {% if post %}
    {% for post in post %}
      <h1><a href="{% url 'blog:post-detail' post.slug %}">{{ post.title }}</a></h1>
      <p><small>{{ post.subtitle }}</small></p>
      <p>{{ post.title|truncatechars:150 }}</p>
      <a href="{% url 'blog:profile' post.user %}"> {{ post.user }}</a>
      <p><small>{{ post.date_created }}</small></p>
      {% for tag in post.tags.all %}
        {% if not forloop.last %}
          <small>{{ tag }},</small>
        {% else %}
          <small>{{ tag }}</small>
        {% endif %}
      {% endfor %}
      <a href="{% url 'blog:post-detail' slug=post.slug %}">Comments: {{ post.comments.count }}</a>
    {% endfor %}
  {% else %}
    <p>No post</p>
  {% endif %}

  <div>
  {% for page_num in post.paginator.page_range %}
    <li>
      <a href="?page={{ page_num }}">{{ page_num}}</a>
    </li>
  {% endfor %}
  <div>
    <span>
      {% if post.has_previous %}
        <a href="?page={{ post.previous_page_number }}">previous</a>
      {% endif %}
      <span>Page {{ post.number }} of {{ post.paginator.num_pages }}.</span>
      {% if post.has_next %}
        <a href="?page={{ post.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
  </div>

{% endblock %}
